body, #wrapper
{
    min-height: 100vh;
}

main
{
    flex: 1;
}

footer
{
    background-color: #5e5e5e;
}

footer li
{
    font-size: 1.2rem;
}

li
{
    list-style: none;
}

a,
a:hover,
a:active,
a:visited
{
    text-decoration: none;
    color: inherit;
}

h1
{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.headBanner
{
    width: 100%;
    background-color: #8c8c8c;
    color: #FFFFFF;
    text-align: center;
    padding: 3%;
}

.pageTitle
{
    margin-top: 3%;
    margin-bottom: 3%;
}

/*---------------------buttons and link------------------*/

#connection .btn-outline:hover,
#app .btn-outline:hover,
#loadReports .btn-outline:hover,
.social li:hover
{
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: orange;
}

.social li
{
    color: orange;
    border: solid 1px orange;
    border-radius: 50%;
    margin: 2%;
    background-color: #FFFFFF;
}

#connection .btn-outline,
#app .btn-outline,
#loadReports .btn-outline
{
    color: orange;
    border-color: orange;
    background-color: #FFFFFF;
}

#connection .btn-default
{
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: orange;
    margin-right: 5%;
}

#connection .btn-default:hover
{
    color: orange;
    border-color: orange;
    background-color: #FFFFFF;
}


#basic-addon1
{
    background-color: orange;
    color: #FFFFFF;
}

#naoList li:hover,
#moreInfo li:hover
{
    color: #FFFFFF;
}

/*---------------------------header-------------------------*/

.navbar-brand i
{
    position: relative;
    top: 4px;
    color: #FFFFFF;
    font-size: inherit;
}

.navbar
{
    background-color: #5e5e5e;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    margin-bottom: 5%;
}

.navbar-brand:hover,
.navbar-brand i:hover
{
    color: #ffa500;
}

.navbar-brand
{
    color: #FFFFFF;
    font-size: 2rem;
}

#accountBadge
{
    font-size: 3em;
    color: #FFA500 ;
    padding: 25%;
}


#accountBadge:hover
{
    color: #FFFFFF ;
}

#dashboard ul
{
    list-style: none;
    margin: 0;
    padding:0;
    border:1px solid #ffa500;
    background:#FFFFFF;
    font-size: 1.5em;
}

#dashboard
{
    position: absolute;
    right: 0;
    top: 102%;
    width: 20%;
    z-index: 1;
}

#dashboard li
{
    color:  #FFFFFF;
    margin-bottom: 1px;
}

#dashboard li a
{
    display: block ;
    color:  #2C2C2C ;
    padding: 4px;
}


#dashboard li:not(:last-child)
{
    border-bottom: 1px solid #ffa500;
}

#dashboard li i
{
    color: #2C2C2C
}

#dashboard li a:hover
{
    background-color:  #5e5e5e;
    color: #FFFFFF;
}

#totalNotif{
    font-size: 0.6em;
    font-weight: bolder;
    color:  #FFA500;
}

.filter{
    position: fixed;
    top: 10%;
    background-color: #c3c3c3;
    z-index: 1;
}

/*---------------------------footer-------------------------*/

.social ul
{
    display: flex;
}


.fa-facebook
{
    padding: 12%;
}

.social h4
{
    text-align: center;
    color: #FFFFFF;
}

footer .list-group
{
    padding-left: 8%;
}

.list-title
{
    font-size: 1.5rem;
    color: #FFFFFF;
}
/*---------------------------report card-------------------------*/
.cardHolder
{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.stared,
.stared:hover{
  color: #ffa500;
}
.card i
{
    color: orange;
}

.card {
    background-color: #EEEDEC ;
    margin: 2%;
    margin-block-end: 15px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);

}
.cardHeader h4 {
    font-size: 0.9em;
}

.card li a{
    margin-left: 0 !important;
}

.card a {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px !important;
}


.info1,
.info2{
    padding-left: 2%;
    padding-right: 2%;
}

.quantity{
    font-size: 0.8em;
}

.birdImg{
    height: 200px;
}

.birdImg img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}


/*---------------------------profile-------------------------*/

.accountScore
{
    display: inline-flex;
    color: orange;
}

.accountScore i
{
    padding: 5%;
}

#chartIcon
{
    text-align: center;
    color: orange;
    font-size: 4em;
    margin-top: 3%;
    margin-bottom: 3%;
}

#pswdModal
{
    position: absolute;
    top: 20%;
    left: 30%;
    background: white;
    -webkit-box-shadow: 0px 0px 5px 22px rgba(71,71,71,0.11);
    -moz-box-shadow: 0px 0px 5px 22px rgba(71,71,71,0.11);
    box-shadow: 0px 0px 5px 22px rgba(71,71,71,0.11);
    padding: 3%;
}

#pswdModal i
{
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
    color: orange;
}

#pswdModal i:hover
{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

#changePswd
{
    position: relative;
    left: 25%;
}

#app .btn-outline
{
    margin-top: 3%;
    margin-bottom: 3%;
}

#loadReports .btn-outline
{
    margin-left: 44%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*---------------------------admin home-------------------------*/


.img img{
    width: 25%;
}
.imgTitle{
    position: relative;
    left: -200px;
    color: white;
    font-size: 1.3em;
}
.img button{
    position: relative;
    top: -40px;
    left: -60px;
    color: orange;
}

/*---------------------------admin menu------------------------------*/
#adminNav{
    z-index: 1;
}
#adminNav li
{
    color:  #FFFFFF;
    margin-bottom: 1px;
}

#adminNav li a
{
    display: block ;
    color:  #2C2C2C ;
}


#adminNav li:not(:last-child)
{
    border-bottom: 1px solid #ffa500;
}

#adminNav li i
{
    color: #2C2C2C
}

#adminNav li a:hover
{
    background-color:  #5e5e5e;
    color: #FFFFFF;
}
#adminNav ul
{
    list-style: none;
    margin: 0;
    padding:0;
    border:1px solid #ffa500;
    background:#FFFFFF;
    font-size: 1.1em;
}
/*---------------------------admin memberList-------------------------*/

.accountDetails{
    background-color: #8c8c8c;
    text-align: center;
    padding: 2%;
}

.accountActions ul{
    display: flex;
    justify-content: space-around;
}



.accountDetails ul{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.softDelete,
.delete,
.deny{
    color: #ff5240;
    border-color:  #ff5240 ;
}

.softDelete:hover,
.delete:hover,
.deny:hover{
    background-color:  #ff5240;
    color: #FFFFFF;
}

.ban{
    color: #FFA500;
    border-color: #FFA500;
}

.ban:hover{
    background-color: #FFA500;
    color: #FFFFFF;
}

.privilege{
    color: #FEEB16;
    border-color: #FEEB16;
}

.privilege:hover{
    background-color: #FEEB16;
    color: #FFFFFF;
}

.validate{
    color: #5fdda1;
    border-color: #5fdda1;
}

.validate:hover{
    background-color: #5fdda1;
    color: #FFFFFF;
}

