*{
    font-family: 'Montserrat', sans-serif;
}

body, #wrapper
{
    min-height: 100vh;
}

footer {
    background-color: #5e5e5e;
    z-index: 3;
}

footer li {
    font-size: 1.2rem;
}

li {
    list-style: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

input {
    box-shadow:none;
}

.btn:focus{
    box-shadow: none;
}

#app{
    padding-left: 0;
    padding-right: 0;
    flex: 1;
    margin-top: 140px;
}

.headBanner
{
    width: 100%;
    background-color: #8c8c8c;
    color: #FFFFFF;
    text-align: center;
    padding: 2%;
}

.pageTitle
{
    margin-bottom: 3%;
}


.resume{
    width: 100%;
}

.centered{
    text-align: center;
}

.search-bar{
    position: fixed;
    top: 2.4%;
    left: 10%;
}

.search-bar input{
    padding-top: 9.6px;
}

.search-bar input:focus{
    border: solid 1px #ffffff;
}

.search-bar .btn{
    border : none;
    background-color: #ffffff;
    color: #ffa500;
}

#nav_search_submit{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 11.7px;
    padding-bottom: 11.7px;
}


.search-bar label{
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: none !important;
    border-bottom: solid 1px #ffa500!important;
    border-radius: 0;
    padding-left: 0;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border-bottom: solid 2px #ffa500 !important;
}

button[type="submit"]:not(#nav_search_submit):not(#filterSubmit){
    width: 260px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffa500;
    border: transparent;
    color: #ffffff;
}


button[type="submit"]:hover:not(#nav_search_submit):not(#filterSubmit){
    background-color: transparent !important;
    border: solid 1px #ffa500 !important;
    color: #ffa500;
}

.form-control:not(#nav_search_search) {
    border: solid 1px #ffa500;
}

.form-control:focus{
    box-shadow: none;
    border: solid 2px #ffa500;
}

.form-group:last-child{
    text-align: center;
    margin-top: 5%;
}

.mobileOnly,
.mobileInline{
    display: none;
}

.moreBtn:not(.short){
    text-align: center;
    padding: 2% 5%;
}

.short{
    padding: 2% 8%;
}

.moreBtn .btn{
    width: 100%;
    background-color: transparent;
    border-color: #ffa500;
    padding: 1%;
}

.moreBtn .btn:hover,
.moreBtn .btn:focus{
    border-color: transparent !important;
    background-color: #ffa500 !important;
}

.moreBtn .btn:hover i,
.moreBtn .btn:focus i{
    color: #ffffff;
}

.shrink{
    font-size: 0.9rem;
    line-height: 25px;
}
/*---------------------error and flash---------------------*/
.noError{
    visibility: hidden;
}

.has-error{
    color: #ff5240;
}

#jsGenerated{
    display: none;
    position: fixed;
    top: 72px;
    color: white;
    width: 100%;
    text-align: center;
}

.alert{
    position: fixed;
    top: 72px;
    width: 100%;
    left: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    z-index: 3;
}

/*---------------------landing page---------------------*/

#withOutNao {
    margin-bottom: 10%;
}

#withOutNao h2,
#withNao h2{
   color: #ffa500;
}

#withOutNao i,
#withNao i{

   color: #8c8c8c;
}
#withOutNao,
#withNao{
    display: flex;
    align-items: center;
}

#withNao{
    flex-flow: row-reverse;
}

#landingIntro p{
    font-size: 1.5em;
    margin-top: 21%;
    text-align: center;
}

#landingIntro h1{
    margin-top: 0;
}


#landingIntro ul,
#landingMid ul,
#landingEnd ul{
    display: flex;
    text-align: center;
}

#landingIntro ul{
    margin-top: 21%;
    justify-content: space-between;
}

#landingMid ul{
    padding-bottom: 5%;
    justify-content: space-around;
}

#landingEnd ul{
    font-size: 2em;
    margin-left: 8%;
}

#withNao span{
    font-size: 3em;
    margin-right: 20%;
}

#landingEnd ul li:not(:last-child){
   padding-right: 40% !important;
}

#landingEnd {
    padding: 4% 4%;
}


.circleIcon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #ffa500 ;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    color: #ffa500;
}

.iconText{
    display: block;
    color: #ffa500;
    margin-top: 12%;
}

.dataText{
    display: block;
    color: #FFFFFF;
    font-size: 1.5em;
    margin-top: 3%;
}

.circleData{
    font-size: 2em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    color: #ffa500;
    background-color: #FFFFFF;
}

#totalSpecies{
    padding: 17%
}

#speciesUe{
    padding: 10%;
}

#speciesThreat{
    padding: 12%;
}


#landingTop{
    display: flex;
    padding: 2% 2%;
    flex-wrap: wrap;
}

#landingForm {
    width: 30%;
    background-color: #efefef;
    margin-left: 10%;
    -webkit-box-shadow: 0 0 5px 5px rgba(55, 55, 55, 0.75);
    -moz-box-shadow: 0 0 5px 5px rgba(55, 55, 55, 0.75);
    box-shadow: 0 0 5px 5px rgba(55, 55, 55, 0.75);
    height: 680px;
}

#landingTerms{
    margin-top: 10%;
    margin-left: 1%;
}

#registerLanding {
    padding: 3%;
}

#landingIntro{
    width: 60%;
}

#landingMid{
    background-color: #c3c3c3;
}

#landingMid p{
    font-size: 2em;
    color: #FFFFFF;
    padding: 5% 8%;
    text-align: center;

}

/*---------------------buttons and link------------------*/

#connection .btn-outline:hover,
#app .btn-outline:hover,
#loadReports .btn-outline:hover,
.social li:hover
{
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: orange;
}

.social li
{
    color: orange;
    border: solid 1px orange;
    border-radius: 50%;
    margin: 2%;
    background-color: #FFFFFF;
}

#connection .btn-outline,
#app .btn-outline,
#loadReports .btn-outline
{
    color: orange;
    border-color: orange;
    background-color: #FFFFFF;
}

#loadReports{
    padding-top: 2%;
    padding-bottom: 0.5%;
}

#connection .btn{
    border: none;
}

#connection .btn-default
{
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: orange;
    position: absolute;
    right: 9%;

}

#connection .btn-default:hover
{
    color: orange;
    border-color: orange;
    background-color: #FFFFFF;
}


#basic-addon1
{
    background-color: orange;
    color: #FFFFFF;
}

#naoList li:hover,
#moreInfo li:hover
{
    color: #FFFFFF;
}

/*---------------------------header-------------------------*/

.navbar-brand i
{
    position: relative;
    top: 4px;
    color: #FFFFFF;
    font-size: inherit;
}

.navbar
{
    background-color: #5e5e5e;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    margin-bottom: 5%;
}

.navbar-brand:hover,
.navbar-brand i:hover
{
    color: #ffa500;
}

.navbar-brand
{
    color: #FFFFFF;
    font-size: 2rem;
}

#accountBadge
{
    font-size: 3em;
    color: #FFA500 ;
    padding: 25%;
}


#accountBadge:hover
{
    color: #FFFFFF ;
}

#dashboard ul
{
    list-style: none;
    margin: 0;
    padding:0;
    border:1px solid #ffa500;
    background:#FFFFFF;
    font-size: 1.3rem;
}

#dashboard
{
    position: absolute;
    right: 0;
    top: 102%;
    z-index: 1;
    visibility: hidden;
}

#dashboard li
{
    color:  #FFFFFF;
    margin-bottom: 1px;
}

#dashboard li a
{
    display: block ;
    color:  #2C2C2C ;
    padding: 4px;
}


#dashboard li:not(:last-child)
{
    border-bottom: 1px solid #ffa500;
}

#dashboard li i
{
    color: #2C2C2C
}

#dashboard li a:hover
{
    background-color:  #5e5e5e;
    color: #FFFFFF;
}

#totalNotif{
    font-size: 0.6em;
    font-weight: bolder;
    color:  #FFA500;
}

/*---------------------------footer-------------------------*/

.social ul
{
    display: flex;
}


.fa-facebook
{
    padding: 12%;
}

.social h4
{
    text-align: center;
    color: #FFFFFF;
}

footer .list-group
{
    padding-left: 8%;
}

.list-title
{
    font-size: 1.5rem;
    color: #FFFFFF;
}
/*---------------------------connection forms---------------------------*/

.connectionForms{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.pswdForm{
    margin-top: 10%;
    margin-bottom: 10%;
}

.connectionForms button{
    background-color: transparent;
    color: #5fdda1;
    border-color: #5fdda1;
}

.connectionForms button:hover{
    background-color:  #5fdda1;
    color: #FFFFFF;
    border-color: #5fdda1;
}

#forgottenPswd{
    color: #ffa500;
    margin-left: 5%;
}

.checked{
    position: relative;
    top: -20px;
    left: 100%;
    color: #5fdda1;
    display: none;
}

.inlineIcon{
    left: 88%;
}

.textareaIcon{
    top: -25px;
    left: 4%;
}


/*---------------------------home page---------------------------*/

.mostWanted{
    display: flex;
    background-color: #dfdfdf;
    padding-top: 3%;
    padding-left: 3%;
    justify-content: space-evenly;
}
.img{
    width: 30%;
}

/*---------------------------report card-------------------------*/
.cardHolder
{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.closeMap{
    position: relative;
    top: -105px;
    left: 332px;
    z-index: 2;
    background-color: #ffffff;
    visibility: hidden;
    font-size: 16px;
    padding: 8px;
    color: #585858 !important;
}

.stared,
.stared:hover{
  color: #ffa500;
}
.card i
{
    color: orange;
}

.card {
    background-color: #f4f4f4;
    margin: 2%;
    margin-block-end: 15px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    width: 370px;
    max-height: 490px;
}

#browseCard .card:nth-of-type(n+7){
    display: none;
}

.cardHeader{
    color:  #ffa500;
    font-size: 1em;
    padding-left: 2%;
    padding-right: 2%;
    padding-top:  2%;
    height: 50px;
}

.card li a{
    margin-left: 0 !important;
}

.card a {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30px !important;
}


.info1,
.info2{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 0.9rem;
}

.birdImg{
    height: 200px;
    margin-top: -2.7%;
}

.birdImg img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.noCmtCard{
    text-align: center;
    padding-top: 5%;
    color: #ffa500;
    font-size: 0.8rem;
}

.quantity{
    text-align: center;
}

.cardFooter {
    text-align: center;
}


.cardFooter a{
   margin: 3% 0 !important;
}

.cardFooter .btn-outline{
    background-color: transparent!important;
}

.cardFooter .btn-outline:hover,
.cardFooter .btn-outline:focus{
    background-color: #ffa500 !important;
    border-color: transparent!important;
}

.reportValidation{
    text-align: center;
}

.reportValidation a{
    margin: 0;
    border: solid 1px;
}


.cardCmt{
    position:absolute;
    bottom: 5px;
    left: 0;
    z-index: 1;
    background-color: #FFFFFF;
    text-align: justify;
    padding: 1%;
    height:180px;
    box-shadow: 0 0 8px #9b9b9b;
    width:98%;
    margin-left: 1%;
    visibility: hidden;
}

.cardCmt i{
    margin-left: 95%;
}

#map{
    height: 600px;
}

.gBird{
    height: 450px;
    width: 100%;
}

.gMap{
    height: 200px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 40px;
}

/*--------------------------- modal -------------------------*/

.modalForm{
    position: fixed;
    top: 20%;
    background: white;
    padding: 2%;
    -webkit-box-shadow: 0 0 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 14px 3px rgba(0,0,0,0.75);
    box-shadow: 0 0 14px 3px rgba(0,0,0,0.75);
    z-index: 30;
}


.modalForm i
{
    position:absolute;
    top:5px;
    right:5px;
    color: #ffa500;
}

.modalForm i:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

/*--------------------------- browse -----------------------*/

#browseFilter{
    padding: 3%;
}


#browseFilter .form-group{
    padding-right: 25px;
    margin-bottom: 0;
}

#browseFilter .form-control{
    width: 250px;
}

#filterForm{
    display: flex;
    justify-content: center;
}

#filterSubmit{
    background-color: transparent;
    border: solid 1px #ffa500;
    color: #ffa500;
    width: 250px;
}

#filterSubmit:hover{
    background-color: #ffa500;
    border: none;
    color: #ffffff;
}

/*---------------------------profile-------------------------*/

.accountScore
{
    display: inline-flex;
    color: orange;
    margin-top: 3%;
    font-size: 1.5rem;
}

.accountScore i
{
    padding: 5%;
}

#chartIcon
{
    text-align: center;
    color: #ffa500;
    font-size: 4em;
    margin-top: 3%;
    margin-bottom: 3%;
}

#modifyPswd button{
    margin-bottom: 0 !important;
    border: none !important;
}

#pswdModal{
    visibility: hidden;
    left: 33.5%;
}


#profileTable{
    box-shadow: 0 0 8px #9b9b9b;
}

#profileTable,
#profileTable thead tr th{
    text-align: center;
    color: #373737;
}

#profileTable  thead  tr  th{
    background-color: #373737;
    color: #FFFFFF;
 }

#profileTable  thead  tr  th,
#profileTable  tbody  tr  th{
    border: 1px solid #596669;
}

#profileInfo ul {

    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    font-size: 1.3em;
    font-family: 'Rubik', sans-serif;
}

#profileInfo ul li:nth-child(2){
   margin-left: -3%;
}

#app .btn-outline
{
    margin-top: 3%;
    margin-bottom: 3%;
}

#userReport{
   display: none;
    padding-top: 0;
}

#loadBtn{
    margin-left: 43%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#chartIcon{
    text-shadow: 4px 4px 1px rgba(55, 55, 55,1);
}

/*---------------------------add report-------------------------*/

#reportForm{
    padding-left: 5% ;
    padding-right: 5%;
}


#reportForm .form-group:not(:nth-child(4)){
    padding-bottom: 3%;
}

#localize{
    position: relative;
    top:-80px;
    left: 97.5%;
    margin-bottom: 0!important;
}

#report_location{
    width: 95%;
}


/*--------------------------search result----------------------*/

#searchResults ul{
    margin-left: 25%;
    font-size: 1.2rem;
    color: #ffa500;
}

#searchResults ul li{
    padding-top: 5%;
}

#searchQuery span{
    color: #ffa500;
}

.speciesMap{
    margin-left: 5%;
    margin-right: 5%;
    border: solid 1px #ffa500;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 14px 3px rgba(0,0,0,0.75);
    box-shadow: 0 0 14px 3px rgba(0,0,0,0.75);
}

.speciesData div,
.dashboard div,
.profileData div,
.memberData div,
.birdData div{
    text-align: center;
    height: 150px;
    border-radius: 5px;
}

.speciesData div,
.dashboard div,
.profileData div{
    -webkit-box-shadow: 0 0 14px 3px rgba(108, 111, 113, 0.75);
    -moz-box-shadow: 0 0 14px 3px rgba(108, 111, 113, 0.75);
    box-shadow: 0 0 14px 3px rgba(108, 111, 113, 0.75);
}

.speciesData div,
.dashboard div,
.birdData div{
    width: 20%;
    font-size: 1.2rem;
    margin: 2%;
}

.birdData div{
    width: 20%;
    font-size: 1rem;
    margin: 2%;
}

.birdData{
    border-bottom: solid 1px #ffa500;
}

.profileData div,
.memberData div{
    width: 19%;
    margin: 0.5%;
}

.profileData div{
    font-size: 1rem;
}

.birdData div{
    border: solid 1px #ffa500;
}


.memberData div{
    border: solid 1px #ffa500;
    font-size: 0.9rem;
}

.memberData{
    margin-bottom: 2%;
}



.speciesDataStats,
.dashboardDataStats,
.profileDataStats,
.memberDataStats,
.birdDataStats{
    padding-top: 5%;

}

.speciesDataTitle,
.dashboardDataTitle,
.profileDataTitle,
.memberDataTitle,
.birdDataTitle{
    margin-top: 10%;
    color: #ffa500;
}

.speciesData,
.dashboard,
.profileData,
.memberData,
.birdData{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.speciesData{
    padding-bottom: 3%;
    padding-top: 5%;
}

.birdData{
    padding-bottom: 3%;
    padding-top: 2%;
}

/*---------------------------admin home-------------------------*/

.img img{
    height: 370px;
    width: 400px;
    object-fit: fill;
}

.imgTitle{
    display: inline-block;
    position: relative;
    top: -200px;
    text-align: center;
    width: 400px;
    color: white;
    font-size: 1.8em;
    text-shadow: 4px 4px 1px rgba(3, 3, 3,1);
    font-weight: 600;
}
.img button{
    position: relative;
    top: -418px;
    left: 81.5%;
    color: #ffa500;
    background-color: transparent!important;
    border: none;
    font-size: 1.5em;
}

#modalPicture{
    visibility: hidden;
    left: 32%;
}


#modalPicture .btn {
    margin-top: 3%;
}

#update_home_species{
    margin-bottom: 10%;
}

.dashboard{
    padding-bottom: 1%;
}

.dashboard div{
    margin-block-end: 50px;
}


#homeManagement{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#statsWrap{
    padding-top: 2%;
    margin-top: 3%;
}

#statIcon,
#exportIcon{
    text-align: center;
    padding-bottom: 2%;
    color: #FFA500;
}

#exportIcon{
    font-size: 2em;
    padding-bottom: 1%;
}

#statIcon{
    font-size: 3em;
    padding-bottom: 2%;
}

#exportCsv {
    text-align: center;
    color: #FFA500;
    font-size: 1.5em;
    margin-bottom: 1%;

}

/*---------------------------admin menu------------------------------*/
#adminNavTrigger{
    background-color: #ffa500;
    color: #FFFFFF;
    border-color: transparent;
    position: fixed;
    top: 70px;
    left:0;
    padding: 12px 15px;
}



#adminNav{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color: #ffa500;
    overflow-x: hidden;
    padding-top: 60px;
    width: 0;
}

#adminNav li
{
    color:  #FFFFFF !important;
    margin-bottom: 10%;
    padding: 2% 0 2% 5%;

}

#adminNav li a
{
    display: block;
    font-size: 1rem;
}

#adminNav h3{
    padding: 5%;
    background-color: #FF9100;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

#adminNav li i {
    width: 40px;
}

#adminNav a:hover{
    color: #ffa500!important;
}

#adminNav li:hover{
    background-color:  #FFFFFF!important;
}


#adminNav ul
{
    list-style: none;
    margin: 0;
    padding-left: 0;
    border:1px solid #ffa500;
    padding-top: 15%;
}
/*---------------------------admin memberList-------------------------*/

.memberInfo:nth-of-type(n+3),
.birdInfo:nth-of-type(n+3){
    display: none;
}

.memberInfo,
.birdInfo{
    margin: 5%;
    border: solid 1px #ffa500;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 14px 3px rgba(143, 146, 148, 0.75);
    -moz-box-shadow: 0 0 14px 3px rgba(143, 146, 148, 0.75);
    box-shadow: 0 0 14px 3px rgba(143, 146, 148, 0.75);
}

.memberInfo .accountScore{
    font-size: 20px;
    margin-bottom: 40px;
}

.memberInfo .accountActions{
    border-top: solid 1px #ffa500;
    padding-top: 1%;
}

.memberInfo table thead th,
.birdInfo table thead th{
    text-align: center;
}

.birdInfo table tbody{
    text-align: center;
}

.memberInfo table,
.birdInfo   table{
    margin-bottom: 2%;
    margin-top: 2%;
    width: 95%;
    margin-left: 2%;
}

.memberInfo table td,
.memberInfo table th,
.birdInfo table th,
.birdInfo table td{
   border : solid 1px #FFFFFF;
}

.memberInfo table thead,
.birdInfo table thead{
    background-color: #8c8c8c;
    color: #FFFFFF;
}

.memberInfo .accountScore i{
    font-size: 30px;
}


.reminder{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: solid 1px #ffa500;
    border-radius: 10px 10px 0 0;
}

.reminder i::before{
    color: #ffa500;
}

.memberInfo{
    text-align: center;
}

.accountDetails{
    background-color: #8c8c8c;
    text-align: center;
    padding: 2%;
}

.accountActions ul{
    display: flex;
    justify-content: space-around;
}



.accountDetails ul{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.softDelete,
.delete,
.deny{
    color: #ff5240;
    border-color:  #ff5240 ;
}

.softDelete:hover,
.delete:hover,
.deny:hover{
    background-color:  #ff5240;
    color: #FFFFFF;
}

.ban{
    color: #FFA500;
    border-color: #FFA500;
}

.ban:hover{
    background-color: #FFA500;
    color: #FFFFFF;
}

.privilege{
    color: #FEEB16;
    border-color: #FEEB16;
}

.privilege:hover{
    background-color: #FEEB16;
    color: #FFFFFF;
}

.validate{
    color: #5fdda1;
    border-color: #5fdda1;
}

.validate:hover{
    background-color: #5fdda1;
    color: #FFFFFF;
}

.filterList{
    text-align: center;
    margin-top: 5%;
}

#memberFilter{
    font-size: 1.2rem;
    width: 35%;
    border-radius: 5px;
    border: solid 1px #FFA500;
}
/*---------------admin bird--------------------*/

.gBird{
    display: none;
}

.fa-plus,
.fa-minus{
    color:  #FFA500;
}

.mapTrigger{
    padding: 1.5%;
    text-align: center;
}

.mapTrigger i{
    font-size: 1.5rem;
}

.birdInfo .reminder li{
    padding-left: 5%;
    padding-right: 5%;
}

.birdInfo .reminder{
    justify-content: space-between;
}

/*-------------terms and conditions------------------*/

#termsSummary{
    display: flex;
    text-align: left;
    padding-left: 15%;
    margin-bottom: 4%;
    margin-top: 5%;
}

#termOfUse h2{
    margin-bottom: 4%;
    color: #FFA500;
    padding-left: 4%;
}

#termOfUse i{
    padding: 2% 2% 0 2%;
}

.termArticle{
    text-align: justify;
    padding: 0 4%;
}

.termArticle:nth-child(n+3){
    display: none;
}


.termArticle ul li::before{
    content: "°";
    color: #FFA500;
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    left: 4%;
}

.termArticle ul{
    padding-left: 2%;
}

/*-------------About us------------------*/
#aboutUs{
    background-color: #c3c3c3;
    padding: 4%;
}
.aboutNao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aboutNao:nth-child(2){
    margin-top: 2%;
    flex-flow: row-reverse;
}

.aboutNao p,
.aboutNao h2{
    width: 50%;
}

.aboutNao h2,
#partnership h2,
#contact h2{
    text-align: center;
    font-size: 2.5em;
    color: #FFA500;
}
.aboutNao P{
    text-align: justify;
}

#partnership{
    height: 500px;
    padding: 5%;
}

#contact{
    background-color: #c3c3c3;
    padding: 5%;
}

#contact{
    margin-bottom: -16px;
}

#contact textarea{
    margin-top: 5%;
    width: 100%;
}

#contact button{
    margin-top: 5%;
}

#contact .form-group-row:last-child{
    text-align: center;
}


#senderInfo{
    display: flex;
    margin-top: 5%;
}

#senderInfo input:not(:last-child){
   margin-right: 25%;
}

#senderInfo input{
    width: 400px;
}



/**-----media queries-----*/

@media only screen and (min-width: 1600px){
    .card{
       margin-left: 5%;
    }
}

@media only screen and (min-width: 320px)and (max-width: 768px) {

    #app {
        margin-top: 80px;
    }

    .pageTitle {
        font-size: 1.5rem !important;
    }

    .alert {
        font-size: 0.8rem;
        padding-left: 1%;
        padding-right: 1%;
    }

    .mobileHidden {
        display: none;
    }

    .mobileOnly {
        display: block;
    }

    .mobileInline {
        display: inline-block;
    }

    .has-error {
        font-size: 0.8rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    #connection .btn {
        font-size: 0.7rem;
    }

    #connection .btn-default {
        right: 25%;
    }

    #accountBadge {
        font-size: 2rem;
    }

    #nav_search_search {
        width: 100%;
        position: absolute;
        top: 40px;
        left: -10%;
        display: none;
        border: none;
        border-bottom: solid 2px #FFA500;
        border-radius: 0;
        box-shadow: none;
    }

    #searchResults ul{
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        font-size: 0.9rem;
    }

    #searchQuery{
        font-size: 1.2rem;
    }

    #dashboard ul {
        width: 100%;
    }

    #dashboard li {
        font-size: 0.9rem;
    }

    #search {
        width: 100%;
    }

    .navbar {
        padding-left: 1%;
        padding-right: 1%;
    }

    #nav_search_submit {
        background-color: transparent;
        top: 0;
        left: 25%;
        padding-top: 2%;
    }

    footer {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    footer .list-group {
        margin-left: 4%;
        margin-right: 4%;
        padding-left: 0;
        border-bottom: solid 1px #FFFFFF;
    }

    #footerFlex {
        display: flex;
    }

    .social {
        order: 3;
        margin-top: 35px;
        margin-bottom: 0 !important;
    }

    .social h4 {
        margin-bottom: 3% !important;
    }

    #moreInfo li i,
    #naoList li i {
        position: absolute;
        right: 0;
    }

    #naoList li i {
        top: 5px;
    }

    #moreInfo li i {
        top: 35px;
    }

    #moreInfo {
        padding-top: 30px;
    }

    #naoList li,
    #moreInfo li,
    .social li,
    .social h4 {
        font-size: 1rem;
    }

    .list-title {
        margin-bottom: 0 !important;
    }

    .mostWanted {
        flex-direction: column;
    }

    .img img:not(.adminPreview) {
        width: 100%;
        height: auto;
    }

    .img button{
        top: -422px;
        left: 90%;
    }

    .adminPreview{
        width: 100% !important;
        height: 370px !important;
    }

    .img {
        width: 100%;
    }

    .admin{
        margin-bottom: -80px;
    }

    .imgTitle:not(.preview) {
        top: -50%;
        width: 100%;
    }

    .preview{
        width: 100%;
    }


    .gMap {
        left: 0;
    }

    .card {
        margin-left: 0;
    }

    .cardHeader {
        padding-top: 0;
        height: unset;
    }

    .cardHeader,
    .info1,
    .info2,
    .cardCmt,
    .validated {
        font-size: 0.8rem;
    }

    .cardHeader ul {
        display: flex;
        justify-content: space-between;
    }

    .cardHeader ul li i {
        padding-left: 10px;
    }

    .shrink {
        font-size: 0.8rem;

    }

    #dashboard {
        width: 100%;
    }

    .moreBtn {
        padding-left: 4%;
        padding-right: 4%;
    }

    .card {
        margin-right: 0;
        margin-left: 0;
    }

    .connectionForms {
        margin-top: 15%;
        margin-left: 0;
        padding-left: 2%;
        padding-right: 2%;
        width: 100%;
    }

    .connectionForms label {
        margin-bottom: 0;
    }

    .checkbox {
        margin-top: 15%;
        margin-bottom: 15%;
        font-size: 0.9rem;
    }

    .info1 {
        margin-top: 10px;
    }

    .closeMap {
        position: absolute;
        top: 129px;
        left: unset;
        right: 9px;
    }

    #filterForm {
        flex-direction: column;
    }

    #browseFilter .form-group {
        padding: 15px;
        margin-bottom: unset;
    }

    #browseFilter .form-control,
    #filterSubmit {
        width: 100%;
        font-size: 0.8rem;
    }

    .headBanner{
        margin-top: 10%;
    }

    .headBanner h2,
    .accountScore{
        font-size: 1.3rem;
    }

    #profileInfo ul{
        display: block;
        font-size: 0.9rem;
    }

    .modalForm{
        margin: 2%;
    }

    #pswdModal {
        left: 0;
    }


    #modifyPswd .btn{
        font-size: 0.8rem;
    }

    .speciesData,
    .dashboard,
    .profileData,
    .memberData,
    .birdData {
        display: flex;
        flex-wrap: wrap;
    }

    .speciesData,
    .dashboard,
    .birdData{
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
    }

    .profileData,
    .memberData{
        justify-content: space-between;
    }

    .profileData div,
    .memberData div {
        margin-bottom: 15px;
    }

    .profileData div{
        width: 150px;
    }

    .memberData div{
        width: 140px;
    }

    .speciesData div,
    .dashboard div,
    .birdData div {
        width: 160px;
        margin: 1%;
        margin-block-end: 15px;

    }

    .speciesData div,
    .dashboard div,
    .profileData div,
    .memberData div,
    .birdData div {
        height: unset;
        font-size: 0.8rem;
    }

    .profileData div:last-child,
    .memberData div:last-child{
        width:100%
    }

    .memberInfo .accountActions{
        padding-top: 1rem;
    }

    #loadReports{
        text-align: center;
    }

    #loadBtn{
        margin-left: 0;
        width: 90%;
    }

    #chartIcon{
        font-size: 3rem;
    }

    #statsWrap{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #exportCsv{
        font-size: 1rem;
    }

    #homeManagement{
        font-size: 1.5rem;
    }

    .mostWanted{
       padding-top: 0;
       padding-left: 0;
    }

    #modalPicture{
        left: 0;
    }

    #adminNavTrigger,
    #adminNav{
        top:60px;
    }

    .reminder{
        display: list-item;
        font-size: 0.9rem;
    }

    #memberFilter{
        width: 90%;
    }

    #reportForm{
        padding-top: 5%;
    }

    #report_location {
        width: 90%;
    }

    #localize{
        top: -50px;
        left: 91%;
    }

    #reportForm .form-group:last-child {

        margin-top: 10%;
    }

    #landingIntro{
        width: 100%;
    }

    #landingIntro p{
        font-size: 1rem;
        text-align: justify;
        padding-left: 2%;
        padding-right: 2%;
    }

    #landingForm{
        width: 100%;
        margin-left: 0;
        height: unset;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #landingIntro ul {
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
    }

    .circleIcon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;
    }

    #landingIntro li{
        margin-block-end: 25px;
    }

    #landingMid p {
        font-size: 1.2rem;
        padding-top: 5%;
        padding-bottom: 0;
    }

    #landingMid ul{
        flex-wrap: wrap;
        position: relative;
        left: -5%;
    }

    .circleData{
        font-size: 1rem;
    }

    .dataText {
        font-size: 1rem;
        margin-top: 0;
    }

    #totalSpecies,
    #speciesThreat{
        padding: 2rem;
    }

    #speciesUe{
        padding: 1.9rem;
    }

    #withOutNao h2,
    #withNao h2{
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    #withNao,
    #withOutNao{
        flex-direction: column;
    }

    #withOutNao{
        margin-bottom: 2%;
    }

    #landingEnd ul{
        font-size: 1.5rem;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 0;
        justify-content: space-between;
    }

    #landingEnd ul li:not(:last-child) {
        padding-right: 10% !important;
    }

    #withNao span{
        font-size: 2rem;
        margin-right: 0;
    }








}
@media only screen and (max-width: 320px){
    .cardHolder{
        padding-left: 1%;
        padding-right: 1%;
    }
    .card{
        width: 100%;
    }


    #nav_search_submit{
        right: 0;
        top: 0;
    }

    .cardHeader,
    .info1,
    .info2,
    .cardCmt,
    .validated{
        font-size: 0.8rem;
    }

    #connection .btn{
        padding:5px;
    }

    .speciesData,
    .dashboard,
    .profileData,
    .memberData,
    .birdData {
        padding-left: 0;
        padding-right: 0;
    }

    #loadBtn{
        width: 99%;
    }

    .speciesData div,
    .dashboard div,
    .birdData div {
        width: 150px;
    }

}


