{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}

    <div>
    <h1 class="pageTitle">Espace d'administration</h1>
    </div>

    <div class="headBanner">
        <select class ="selectpicker show-menu-arrrow show-tick">
            <option>Accueil</option>
            <option>dsdqssd</option>
        </select>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre total de membres</th>
                    <th>Comptes naturistes</th>
                    <th>Comptes amateurs</th>
                    <th>En ligne</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ maxLevel + minLevel }}</td>
                    <td>{{ maxLevel}}</td>
                    <td>{{ minLevel}}</td>
                    <td> todo </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
