<div class="headBanner">
    <select class ="selectpicker show-menu-arrrow show-tick">
        <option>Accueil</option>
        <option>Liste des membres</option>
        <option>Comptes innactifs</option>
        <option>Demandes d'accès naturalistes</option>
        <option>Liste des espèces</option>
        <option>Statistiques</option>
    </select>
</div>

