<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <ul>
            <li>
                Sujet : {{ subject }}
            </li>
            <li>
                Message de : {{ fullname }}
            </li>
            <li>
                Envoyé le : {{ date }}
            </li>
        </ul>
        <div>
            <p>
               {{ message }}
            </p>
        </div>
    </body>

