{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} NAO c’est aussi un partenariat solide avec
{% endblock %}

{% block body %}
    <div>
        <h1 class="pageTitle">Nao, qui sommes-nous ?</h1>
    </div>

    <div id="aboutUs">
        <div class="aboutNao">
            <h2>Notre histoire</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in volutpat ipsum.Donec nec aliquam nibh,
                eget pellentesque elit. Donec tempus cursus enim, nec mattis sapien gravida eu. Sed commodo velit sodales,
                bibendum dolor vitae, faucibus sem. Proin enim urna, imperdiet nec nisi nec, vulputate viverra felis.
                Proin dignissim, massa eget tristique gravida,risus orci consequat quam, ut ornare arcu urna malesuada justo.
                Fusce nec tortor in nulla eleifend molestie quis quis sem.<br>
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vulputate eros ultrices dui varius ornare.
                Nam cursus rhoncus lectus quis volutpat. Sed tristique nisi lorem, vitae hendrerit tortor cursus quis. Ut consectetur ac
                dolor sit amet pellentesque.<br>
        </div>
        <div class="aboutNao">
            <h2>Nos missions</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in volutpat ipsum.Donec nec aliquam nibh,
                eget pellentesque elit. Donec tempus cursus enim, nec mattis sapien gravida eu. Sed commodo velit sodales,
                bibendum dolor vitae, faucibus sem. Proin enim urna, imperdiet nec nisi nec, vulputate viverra felis.
                Proin dignissim, massa eget tristique gravida,risus orci consequat quam, ut ornare arcu urna malesuada justo.
                Fusce nec tortor in nulla eleifend molestie quis quis sem.<br>
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque vulputate eros ultrices dui varius ornare.
                Nam cursus rhoncus lectus quis volutpat. Sed tristique nisi lorem, vitae hendrerit tortor cursus quis. Ut consectetur ac
                dolor sit amet pellentesque.<br>
            </p>
        </div>
    </div>
    <div>
        <h2>Nos partenaires</h2>
    </div>
    <div>
        <h2>Nous contacter</h2>
    </div>
{% endblock %}