{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} Bienvenue sur l’application Nos Amis les Oiseaux, leréseau des passionnés d’ornithologie
{% endblock %}

{% block body %}

    <div>
        <h1 class="pageTitle">Observations</h1>
    </div>

    <div class="browseFilters">

    </div>

    <div class="cardHolder">
        {% for report in reports %}
            {{ include('nao/reportCard.html.twig') }}
        {% endfor %}
    </div>

{% endblock %}
